{% extends "app.html" %}

{% block extrahead %}
<script src="/static/grappelli/tinymce/jscripts/tiny_mce/tiny_mce.js" type="text/javascript"></script>
<script src="/static/grappelli/tinymce_setup/tinymce_setup.js" type="text/javascript"></script>
{% endblock %}

{% block form_content %}
<fieldset class="grp-module ">
    <div class="grp-row grp-cells-1 active ">
        <div class="l-2c-fluid l-d-4">
            <div class="c-1">&nbsp;</div>
            <div class="c-2">
                <input {% if datos.active %}checked="checked"{% endif %} type="checkbox" name="active" id="id_active">
                <label for="id_active" class="vCheckboxLabel">Activo</label>
            </div>
        </div>
    </div>
    <div class="grp-row grp-cells-1 {% if errors.nombre %}grp-errors {% endif %}nombre ">
        <div class="l-2c-fluid l-d-4">
            <div class="c-1">
                <label for="id_nombre" class="required">Nombre</label>
            </div>
            <div class="c-2">
                <input id="id_nombre" type="text" class="vTextField" name="nombre" maxlength="120" value="{{ datos.nombre }}">
                {% if errors.nombre %}
                <ul class="errorlist">
                    <li>Este campo es obligatorio.</li>
                </ul>
                {% endif %}
                <p class="grp-help">Título mostrado en el navegador</p>
            </div>
        </div>
    </div>
    <div class="grp-row grp-cells-1 descrip ">
        <div class="l-2c-fluid l-d-4">
            <div class="c-1">
                <label for="id_descrip">Descripción</label>
            </div>
            <div class="c-2">
                <textarea id="id_descrip" rows="10" cols="40" name="descrip" class="vLargeTextField">{{ datos.descrip|raw }}</textarea>
            </div>
        </div>
    </div>
    <div class="grp-row grp-cells-1 {% if errors.position %}grp-errors {% endif %}position ">
        <div class="l-2c-fluid l-d-4">
            <div class="c-1">
                <label for="id_position" class="required">Orden</label>
            </div>
            <div class="c-2">
                <input id="id_position" type="text" class="vIntegerField" value="{{ datos.position }}" name="position">
                {% if errors.position %}
                <ul class="errorlist">
                    <li>Introduzca un número entero.</li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="grp-row grp-cells-1 {% if errors.image %}grp-errors {% endif %}image ">
        <div class="l-2c-fluid l-d-4">
            <div class="c-1">
                <label for="id_image" class="required">Imagen</label>
            </div>
            <div class="c-2">
                <select name="image" id="id_image">
                    <option value="" selected="selected">---------</option>
                    {% for c in choice1 %}
                    <option value="{{ c.id }}" {% if c.id == datos.image_id %}selected="selected"{% endif %} >{{ c.nombre }}</option>
                    {% endfor %}
                </select>
                {% if errors.image %}
                <ul class="errorlist">
                    <li>Selecciona una imagen.</li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="grp-row grp-cells-1 slug ">
        <div class="l-2c-fluid l-d-4">
            <div class="c-1">
                <label for="id_slug">Slug</label>
            </div>
            <div class="c-2">
                <input id="id_slug" type="text" class="vTextField" name="slug" maxlength="100" value="{{ datos.slug }}">
                <p class="grp-help"><b>solo letras,numeros y guiones(-) para enlaces. Se genera automatico al estar vacio</b>
            </div>
        </div>
    </div>
</fieldset>
{% endblock %}