{% extends 'app/grupo.html' %}

{% block title %}HOME{% endblock %}

{% block sec_content %}
<section id="content">
    <h2 class="title-content">Consejos</h2>
    <ol class="flow">
        <li class="list-flow">
            <a href="#" class="ancla-flow"><img src="/static/images/baby0.jpg" alt="mia mami mio" /><span></span></a>
            <h3 class="title-flow"><a href="#">Vivamus vitae metus id elit consecte vestibulum orci sed molestie</a></h3>
        </li>
        <li class="list-flow">
            <a href="#" class="ancla-flow"><img src="/static/images/baby0.jpg" alt="mia mami mio" /><span></span></a>
            <h3 class="title-flow"><a href="#">Vivamus vitae metus id elit consecte vestibulum orci sed molestie</a></h3>
        </li>
        <li class="list-flow">
            <a href="#" class="ancla-flow"><img src="/static/images/baby0.jpg" alt="mia mami mio" /><span></span></a>
            <h3 class="title-flow"><a href="#">Vivamus vitae metus id elit consecte vestibulum orci sed molestie</a></h3>
        </li>
        <li class="list-flow">
            <a href="#" class="ancla-flow"><img src="/static/images/baby0.jpg" alt="mia mami mio" /><span></span></a>
            <h3 class="title-flow"><a href="#">Vivamus vitae metus id elit consecte vestibulum orci sed molestie</a></h3>
        </li>
        <li class="list-flow">
            <a href="#" class="ancla-flow"><img src="/static/images/baby0.jpg" alt="mia mami mio" /><span></span></a>
            <h3 class="title-flow"><a href="#">Vivamus vitae metus id elit consecte vestibulum orci sed molestie</a></h3>
        </li>
        <li class="list-flow">
            <a href="#" class="ancla-flow"><img src="/static/images/baby0.jpg" alt="mia mami mio" /><span></span></a>
            <h3 class="title-flow"><a href="#">Vivamus vitae metus id elit consecte vestibulum orci sed molestie</a></h3>
        </li>
        <li class="list-flow">
            <a href="#" class="ancla-flow"><img src="/static/images/baby0.jpg" alt="mia mami mio" /><span></span></a>
            <h3 class="title-flow"><a href="#">Vivamus vitae metus id elit consecte vestibulum orci sed molestie</a></h3>
        </li>
        <li class="list-flow">
            <a href="#" class="ancla-flow"><img src="/static/images/baby0.jpg" alt="mia mami mio" /><span></span></a>
            <h3 class="title-flow"><a href="#">Vivamus vitae metus id elit consecte vestibulum orci sed molestie</a></h3>
        </li>
    </ol>
    <ol class="pager">
        <li class="page-current"><a href="#">1</a>
        </li>
        <li><a href="#">2</a>
        </li>
        <li><a href="#">3</a>
        </li>
        <li><a href="#">4</a>
        </li>
    </ol>
</section>
{% endblock %}