<!-- footer -->
<footer id="footer">
    <div class="points">
        <div class="inner">
            <p id="aside-text"><em>mia mama mio</em> 2012 © Todos los derechos reservados.</p>
            <nav id="nav-foot">
                <ul>
                    <li id="foot-1">
                        <a href="/nosotros/"><span>nosotros</span></a>
                    </li>
                    <li id="foot-2">
                        <a href="/consejos/"><span>consejos</span></a>
                    </li>
                    <li id="foot-3">
                        <a href="/noticias/"><span>noticias</span></a>
                    </li>
                    <li id="foot-4" class="last-item">
                        <a href="/prensa/"><span>prensa</span></a>
                    </li>
                </ul>
            </nav>
            <div id="links-logo"> <a href="#" title="Facebook" id="facebook-f" class="spt">Facebook</a>
                <a href="#" title="Pinterest" id="pinterest-f" class="spt">Pinterest</a>
                <a title="STAFF CREATIVA" target="_blank" href="http://www.staffcreativa.com/"
                    id="staff-creativa" class="spt">Diseñador por <em>STAFF CREATIVA</em></a>
            </div>
        </div>
    </div>
</footer>