<!-- header -->
<header id="head">
    <div class="inner">
        <h1 id="logo" class="png-bg"><a class="logo spt" href="/" title="mia mama mio">mia mama mio</a> </h1>
        <nav id="navigation">
            <ul>
                <li id="item-head-1">
                    <a class="spt {% if grupo.slug == 'bebe' %}current{% endif %}" href="/bebe/">Bebé</a>
                </li>
                <li id="item-head-2">
                    <a class="spt {% if grupo.slug == 'mama' %}current{% endif %}" href="/mama/">Mamá</a>
                </li>
                <li id="item-head-3">
                    <a class="spt {% if grupo.slug == 'deco' %}current{% endif %}" href="/deco/">Deco</a>
                </li>
            </ul>
        </nav>
        <nav id="navigation-top">
            <ul>
                <li id="item-top-1">
                    <a href="/contacto/">Contáctenos</a>
                </li>
                <li id="item-top-2">
                    <a href="/regalos-express/">Regalos express</a>
                </li>
                <li id="item-top-3">
                    <a href="/lista-baby-shower/">Lista de baby shower</a>
                </li>
            </ul>
        </nav>
    </div>
</header>