{% extends 'app/base.html' %}

{% block title %}HOME{% endblock %}

{% block content %}
<section id="fb-aside">
    <div id="fb-inner">
        <div class="fb-like" data-href="http://www.facebook.com/pages/MIA-MAMA-MIO/158621193166" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
    </div>
</section>
<div id="wrap" class="points">
    <!-- header -->
    <header id="head">
        <div class="inner" id="head-home">
            <h1 id="logo" class="png-bg"><a class="logo spt" href="/" title="mia mama mio">mia mama mio</a> </h1>
        </div>
    </header>
    <!-- content -->
    <section id="presentation">
        <div class="inner">
            <nav id="nav-intro">
                <a href="/bebe/" id="link-1">Bebe</a>
                <a href="/mama/" id="link-2">Mamá</a>
                <a href="/deco/" id="link-3">Deco</a>
            </nav>
            {% if slide %}
            <div id="home-intro">
                <section id="intro-fade">
                    {% for s in slide %}
                    <div class="intro-fade load-img">
                        <img src="/media/{{ s.imagen }}" alt="mia mama mio" />
                    </div>
                    {% endfor %}
                </section>
            </div>
            {% endif %}
        </div>
    </section>
    <!-- footer -->
    <footer id="footer">
        <div class="points">
            <div class="inner">
                <p id="aside-text"><em>mia mama mio</em> 2012 © Todos los derechos reservados.</p>
                <div id="links-logo"> <a href="#" title="Facebook" id="facebook-f" class="spt">Facebook</a>
                    <a href="#" title="Pinterest" id="pinterest-f" class="spt">Pinterest</a>
                    <a title="STAFF CREATIVA" target="_blank" href="http://www.staffcreativa.com/"
                        id="staff-creativa" class="spt">Diseñador por <em>STAFF CREATIVA</em></a>
                </div>
            </div>
        </div>
    </footer>
</div>
{% endblock %}