{% extends 'app/grupo.html' %}

{% block title %}HOME{% endblock %}

{% block sec_content %}
<section id="content">
    <!-- slider -->
    <div id="prev" class="spt"></div>
    <div id="next" class="spt"></div>
    <div id="out-slider-main">
        <section id="slider-main">
            <div class="slider-main"><a href="#"><img src="/static/images/slide1-all.jpg" alt="mia mama mamio" /></a>
            </div>
            <div class="slider-main"><a href="#"><img src="/static/images/slide1-all.jpg" alt="mia mama mamio" /></a>
            </div>
            <div class="slider-main"><a href="#"><img src="/static/images/slide1-all.jpg" alt="mia mama mamio" /></a>
            </div>
        </section>
    </div>
    <article class="article-main">
        <div class="text-main">
             <h2 class="title-inner color2">Lista baby shower</h2>

            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi eu tortor
                vel neque congue congue. Mauris quis erat. Vestibulum dictum ligula vel
                purus. Vivamus eget purus. Quisque nulla. Proin nonummy elit nec erat.
                Suspendisse molestie, orci sed molestie congue, erat pede consectetuer
                tellus, non ultricies turpis purus eget lorem. Fusce ut libero.</p>
            <p>Etiam augue. Ut velit urna, porta a, commodo vitae, blandit vitae, odio.
                Ut mi arcu, placerat eu, imperdiet non, molestie quis, elit. Phasellus
                ligula ipsum, venenatis sit amet, feugiat eget, blandit aliquam, risus.
                Donec mollis.Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                Morbi eu tortor vel neque congue congue. Mauris quis erat. Vestibulum dictum
                ligula vel purus.</p>
        </div>
        <div class="img-aside">
            <ul class="aside-list">
                <li id="list-item-1"><a href="#">Beneficios de hacer mi lista en mia mama mio</a>
                </li>
                <li id="list-item-2"><a href="#">Acceder a la lista</a>
                </li>
                <li id="list-item-3"><a href="#">Buscar la lista de una futura mamá</a>
                </li>
            </ul>
        </div>
    </article>
</section>
{% endblock %}