{% extends 'app/grupo.html' %}

{% block title %}{{ sec.nombre }}{% endblock %}

{% block sec_content %}
<section id="content">
    <!-- slider -->
    <div id="prev" class="spt"></div>
    <div id="next" class="spt"></div>
    <div id="out-slider-main">
        <section id="slider-main">
            {% for s in slide %}
            <div class="slider-main">
                <a href="{{ s.enlace }}">
                    <img src="/media/{{ s.imagen }}" alt="mia mama mamio" />
                </a>
            </div>
            {% endfor %}
        </section>
    </div>
    <article class="article-main">
        <div class="text-main-all">
             <h2 class="title-inner">{{ sec.nombre}}</h2>
             {{ sec.descrip|raw }}
        </div>
        {% if bloques %}
        <div class="img-aside-all">
            <ul class="aside-list-about">
                {% for i, nav in bloques %}
                <li id="list-item-{{ cycle([ '1', '2', '3', '4' ], i) }}">
                    <a href="/nosotros/{{ nav.slug }}/" title="{{ nav.nombre }}">{{ nav.nombre }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </article>
</section>
{% endblock %}