{% extends 'app/grupo.html' %}

{% block title %}Noticias{% endblock %}

{% block sec_content %}
<section id="content">
    <h2 class="title-content2">Noticias</h2>
    <ol class="flow-news">
        {% for n in noticias %}
        <li class="list-news">
            <figure class="img-shadow">
                <a href="/noticias/{{ n.id }}/" class="ancla-flow">
                    <img src="/static/images/img-noticia1.jpg" alt="mia mami mio" />
                </a>
            </figure>
            <div class="text-news">
                <h3 class="title-news"><a href="/noticias/{{ n.id }}/">{{ n.nombre }}</a></h3>
                <p>{{ n.descrip|raw|striptags|slice(0, 125) }}</p>
            </div>
        </li>
        {% endfor %}
    </ol>
    <!--
    <ol class="pager">
        <li class="page-current"><a href="#">1</a>
        </li>
        <li><a href="#">2</a>
        </li>
        <li><a href="#">3</a>
        </li>
        <li><a href="#">4</a>
        </li>
    </ol>
    -->
</section>
{% endblock %}