{% extends 'app/grupo.html' %}

{% block title %}HOME{% endblock %}

{% block sec_content %}
<section id="content">
    <h2 class="title-content2">Noticias</h2>
    <ol class="flow-news">
        <!-- 1 -->
        <li class="list-news">
            <figure class="img-shadow">
                <a href="#" class="ancla-flow"><img src="/static/images/img-noticia1.jpg" alt="mia mami mio" /></a>
            </figure>
            <div class="text-news">
                <h3 class="title-news"><a href="#">Proin nonummy elit nec erat</a></h3>
                <p>Quisque nulla. Proin nonummy elit nec erat. Suspendisse molestie, orci
                    sed molestie congue, erat pede consectr tellus.</p>
            </div>
        </li>
        <!-- 2 -->
        <li class="list-news">
            <figure class="img-shadow">
                <a href="#" class="ancla-flow"><img src="/static/images/img-noticia1.jpg" alt="mia mami mio" /></a>
            </figure>
            <div class="text-news">
                <h3 class="title-news"><a href="#">Proin nonummy elit nec erat</a></h3>
                <p>Quisque nulla. Proin nonummy elit nec erat. Suspendisse molestie, orci
                    sed molestie congue, erat pede consectr tellus.</p>
            </div>
        </li>
        <!-- 3 -->
        <li class="list-news">
            <figure class="img-shadow">
                <a href="#" class="ancla-flow"><img src="/static/images/img-noticia1.jpg" alt="mia mami mio" /></a>
            </figure>
            <div class="text-news">
                <h3 class="title-news"><a href="#">Proin nonummy elit nec erat</a></h3>
                <p>Quisque nulla. Proin nonummy elit nec erat. Suspendisse molestie, orci
                    sed molestie congue, erat pede consectr tellus.</p>
            </div>
        </li>
        <!-- 4 -->
        <li class="list-news">
            <figure class="img-shadow">
                <a href="#" class="ancla-flow"><img src="/static/images/img-noticia1.jpg" alt="mia mami mio" /></a>
            </figure>
            <div class="text-news">
                <h3 class="title-news"><a href="#">Proin nonummy elit nec erat</a></h3>
                <p>Quisque nulla. Proin nonummy elit nec erat. Suspendisse molestie, orci
                    sed molestie congue, erat pede consectr tellus.</p>
            </div>
        </li>
        <!-- 5 -->
        <li class="list-news">
            <figure class="img-shadow">
                <a href="#" class="ancla-flow"><img src="/static/images/img-noticia1.jpg" alt="mia mami mio" /></a>
            </figure>
            <div class="text-news">
                <h3 class="title-news"><a href="#">Proin nonummy elit nec erat</a></h3>
                <p>Quisque nulla. Proin nonummy elit nec erat. Suspendisse molestie, orci
                    sed molestie congue, erat pede consectr tellus.</p>
            </div>
        </li>
        <!-- 6 -->
        <li class="list-news">
            <figure class="img-shadow">
                <a href="#" class="ancla-flow"><img src="/static/images/img-noticia1.jpg" alt="mia mami mio" /></a>
            </figure>
            <div class="text-news">
                <h3 class="title-news"><a href="#">Proin nonummy elit nec erat</a></h3>
                <p>Quisque nulla. Proin nonummy elit nec erat. Suspendisse molestie, orci
                    sed molestie congue, erat pede consectr tellus.</p>
            </div>
        </li>
        <!-- end -->
    </ol>
    <ol class="pager">
        <li class="page-current"><a href="#">1</a>
        </li>
        <li><a href="#">2</a>
        </li>
        <li><a href="#">3</a>
        </li>
        <li><a href="#">4</a>
        </li>
    </ol>
</section>
{% endblock %}