{% extends 'app/grupo.html' %}

{% block title %}Prensa{% endblock %}

{% block sec_content %}
<section id="content">
        <h2 class="title-content3">Prensa</h2>

    <ol class="flow-press">
        {% for p in prensa %}
        <li class="list-press">
            <figure class="img-press">
                <img src="/media/{{ p.imagen }}" alt="mia mami mio" width="144" height="144" />
            </figure> <a href="/media/{{ p.pdf }}" class="link-press spt"></a>

        </li>
        {% endfor %}
    </ol>
<!--     <ol class="pager">
        <li class="page-current"><a href="#">1</a>
        </li>
        <li><a href="#">2</a>
        </li>
        <li><a href="#">3</a>
        </li>
        <li><a href="#">4</a>
        </li>
    </ol> -->
</section>
{% endblock %}