{% extends 'app/grupo.html' %}

{% block title %}HOME{% endblock %}

{% block sec_content %}
<section id="content">
        <h2 class="title-content3">Prensa</h2>

    <ol class="flow-press">
        <!-- 1 -->
        <li class="list-press">
            <figure class="img-press">
                <img src="/static/images/prensa1.jpg" alt="mia mami mio" />
            </figure> <a href="#" class="link-press spt"></a>

        </li>
        <!-- 2 -->
        <li class="list-press">
            <figure class="img-press">
                <img src="/static/images/prensa2.jpg" alt="mia mami mio" />
            </figure> <a href="#" class="link-press spt"></a>

        </li>
        <!-- 3 -->
        <li class="list-press">
            <figure class="img-press">
                <img src="/static/images/prensa5.jpg" alt="mia mami mio" />
            </figure> <a href="#" class="link-press spt"></a>

        </li>
        <!-- 4 -->
        <li class="list-press">
            <figure class="img-press">
                <img src="/static/images/prensa6.jpg" alt="mia mami mio" />
            </figure> <a href="#" class="link-press spt"></a>

        </li>
        <!-- 5 -->
        <li class="list-press">
            <figure class="img-press">
                <img src="/static/images/prensa7.jpg" alt="mia mami mio" />
            </figure> <a href="#" class="link-press spt"></a>

        </li>
        <!-- 6 -->
        <li class="list-press">
            <figure class="img-press">
                <img src="/static/images/prensa3.jpg" alt="mia mami mio" />
            </figure> <a href="#" class="link-press spt"></a>

        </li>
        <!-- 7 -->
        <li class="list-press">
            <figure class="img-press">
                <img src="/static/images/prensa4.jpg" alt="mia mami mio" />
            </figure> <a href="#" class="link-press spt"></a>

        </li>
        <!-- 8 -->
        <li class="list-press">
            <figure class="img-press">
                <img src="/static/images/prensa5.jpg" alt="mia mami mio" />
            </figure> <a href="#" class="link-press spt"></a>

        </li>
        <!-- 9 -->
        <li class="list-press">
            <figure class="img-press">
                <img src="/static/images/prensa6.jpg" alt="mia mami mio" />
            </figure> <a href="#" class="link-press spt"></a>

        </li>
        <!-- 10 -->
        <li class="list-press">
            <figure class="img-press">
                <img src="/static/images/prensa7.jpg" alt="mia mami mio" />
            </figure> <a href="#" class="link-press spt"></a>

        </li>
        <!-- end -->
    </ol>
    <ol class="pager">
        <li class="page-current"><a href="#">1</a>
        </li>
        <li><a href="#">2</a>
        </li>
        <li><a href="#">3</a>
        </li>
        <li><a href="#">4</a>
        </li>
    </ol>
</section>
{% endblock %}