{% extends 'app/grupo.html' %}

{% block title %}Regalos Express{% endblock %}

{% block sec_content %}
<section id="content">
    <h2 class="title-content4">Regalos Express</h2>
    <section id="block-info">
        <div class="block-info">
            <ol class="block-list">
                <li id="item-list1">Revisa las lista de regalos perfectos que te proponemos y elije el que
                    más te guste.</li>
                <li id="item-list2">Da click al regalo elegido y mira su información.</li>
                <li id="item-list3">Elige entre las dos opciones que te proponemos para comprar y listo!</li>
            </ol>
        </div>
        <img id="ribbon1" src="/static/images/como-comprar.png" alt="¿Cómo comprar?" />
    </section>
    <section id="slider-express">
        <div id="prev5" class="buttons prev spt"></div>
        <div class="viewport">
            <ol class="overview">
                {% for i, prod in productos %}
                <li>
                    <figure class="figure-bg">
                        <a href="/producto/{{ prod.id }}/">
                            <img src="/lib/timthumb.php?src=/media/{{ prod.imagen }}&h=130&w=132" alt="mia mami mio" width="132" height="130" />
                        </a>
                        <figcaption class="spt"><span class="coin">S/.</span> {{ prod.precio }}</figcaption>
                    </figure>
                    <h3 class="title-fig1"><a href="/producto/{{ prod.id }}/">{{ cod.codigo }}</a></h3>
                    <h4 class="title-fig2">{{ cod.nombre }}</h4>
                </li>
                {% endfor %}
            </ol>
        </div>
        <div id="next5" class="buttons next spt"></div>
    </section>
</section>
{% endblock %}