{% extends "listado.html" %}

{% block listado %}
<div class="grp-module grp-changelist-results">
    <table id="result_list" cellspacing="0" class="grp-sortable">
        <thead>
            <tr>
                <th scope="col" class="action-checkbox-column">
                    <div class="grp-text"><span><input type="checkbox" id="action-toggle" style=""></span>
                    </div>
                </th>
                <th scope="col" class="sortable">
                    <div class="grp-text"><a>Colección</a>
                    </div>
                </th>
                <th scope="col" class="sortable">
                    <div class="grp-text"><a>Imagen</a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for i, td in app.listar %}
            <tr class="grp-row grp-row-{{ cycle(['even', 'odd'], i) }}">
                <td class="action-checkbox">
                    <input type="checkbox" class="action-select" value="2" name="_selected_action">
                </td>
                <th>
                    <a href="{{ td.id }}/">
                        {% if td.related %}{{ td.related }}{% else %}(Nada){% endif %}
                    </a>
                </th>
                <td class="nowrap">{{ td.imagen }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}